<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="nav">
        <div class="one">
            <div>Download App</div>
            <div>About Us</div>
            <div>Contact Us</div>
        </div>
        <div class="two">
            <div>Terms</div>
            <div>Privacy</div>
            <div>F.A.Q</div>
        </div>
    </div>
    <div class="bottom">
        <div class="logo">STRID.</div>
        <div class="date">&copy; 2021 STRID, Inc.</div>
    </div>
</footer>