<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/fonts/material-icons.css">
    <link rel="stylesheet" href="/css/adminsidebar.css">
    <link rel="stylesheet" href="/css/adminsidebarright.css">
    <link rel="stylesheet" href="/css/orders.css">

    <title>ORDERS | STRID</title>
</head>
<body>

    <section class="body">
        <%-include('sidebar')%>

        <section class="content">

            <div class="record">
                <div class="header">
                    <div class="title">Orders</div>

                    <div class="buykitbutton">
                        <a href="../index.php?page=products">
                            <div class="text">
                                Buy New Kit
                            </div>
                            <div class="icon">
                                +
                            </div>
                        </a>
                    </div>
                </div>

                <div class="list">

                    <div class="kit">
                        <div class="qty">2</div>
                        <div class="details">
                            <div class="productname">
                                <div class="name">
                                    FamilyTreeDNA - Family Finder DNA Test
                                </div>
                                <div class="status">
                                    Shipping
                                </div>
                                <div class="price">
                                    $79.00
                                </div>
                            </div>
                            <div class="user">
                               <div>
                                    <div class="name">
                                        John Doe
                                    </div>
                                    <div class="email">
                                        johndoe@gmail.com
                                    </div>
                               </div>
                            </div>
                            <div class="address">

                            </div>
                        </div>
                    </div>

                    <div class="kit">
                        <div class="qty">2</div>
                        <div class="details">
                            <div class="productname">
                                <div class="name">
                                    FamilyTreeDNA - Family Finder DNA Test
                                </div>
                                <div class="status">
                                    Shipping
                                </div>
                                <div class="price">
                                    $79.00
                                </div>
                            </div>
                            <div class="user">
                               <div>
                                    <div class="name">
                                        John Doe
                                    </div>
                                    <div class="email">
                                        johndoe@gmail.com
                                    </div>
                               </div>
                            </div>
                            <div class="address">

                            </div>
                        </div>
                    </div>

                    <div class="kit">
                        <div class="qty">2</div>
                        <div class="details">
                            <div class="productname">
                                <div class="name">
                                    FamilyTreeDNA - Family Finder DNA Test
                                </div>
                                <div class="status">
                                    Shipping
                                </div>
                                <div class="price">
                                    $79.00
                                </div>
                            </div>
                            <div class="user">
                               <div>
                                    <div class="name">
                                        John Doe
                                    </div>
                                    <div class="email">
                                        johndoe@gmail.com
                                    </div>
                               </div>
                            </div>
                            <div class="address">

                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <!--<div class="no-record">-->
            <!--    <img src="no.png" alt="">-->
            <!--    <div class="message">-->
            <!--        You currently have no kits.-->
            <!--    </div>-->
            <!--</div>-->

        </section>

        <%-include('sidebarright')%>
    </section>

    <script src="./public/js/jquery.min.js"></script>
    <script>

    </script>
</body>
</html>