<link rel="stylesheet" href="/fonts/material-icons.css">

<section class="sidebar">
    <div class="logo">
        <span class="s">S</span>TRID.
    </div>
    <div class="links">
        <div class="orders"><a href="/admin/dashboard"><div class="material-icons icon">list</div> <div class="label">ORDERS</div></a></div>
        <div class="products"><a href="/admin/dashboard/kits"><div class="material-icons icon">shopping_cart</div> <div class="label">PRODUCTS</div></a></div>
        <div class="results"><a href="/admin/dashboard/results"><div class="material-icons icon">description</div> <div class="label">RESULTS</div></a></div>
        <div class="lab"><a href="/admin/dashboard/lab"><div class="material-icons icon">local_hospital</div> <div class="label">LAB</div></a></div>
    </div>

    <div class="profile">
        <div class="img">

        </div>
        <div class="details">
            <div class="name">UserName</div>
            <div class="email">username@gmail.com</div>
        </div>
    </div>
    <div class="details logout">
        <a href="logout.php"><div class="name">LOGOUT</div></a>
    </div>
</section>