<section class="rightsidebar">
    <div class="title"> Overview </div>
    <div class="overview">
        <div class="totalmembers">
            <div class="material-icons iconn">
                people
            </div>
            <div class="details">
                <div class="digits">
                   0
                </div>
                <div class="label">
                    TOTAL MEMBERS
                </div>
            </div>
        </div>

        <div class="completedorders">
            <div class="material-icons iconn">
                check_circle
            </div>
            <div class="details">
                <div class="digits">
                   0
                </div>
                <div class="label">
                    COMPLETED ORDERS
                </div>
            </div>
        </div>

        <div class="totalorders">
            <div class="material-icons iconn">
                shopping_basket
            </div>
            <div class="details">
                <div class="digits">
                   0
                </div>
                <div class="label">
                    TOTAL ORDERS
                </div>
            </div>
        </div>
    </div>
</section>