<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/shop.css">

    <title>Buy Kit - Shop from a list of all our available kits | STRID </title>
</head>
<body>

    <%-include('./includes/header')%>

    <section class="body">
        <div class="page-title">List to shop from</div>
        <div class="items-list grid-list">
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/images/placeholder1.jpg">
                <div class="info">
                    <a href="/buykit/:dnakit">
                        <div class="title">FamilyTreeDNA - Family Finder DNA Test - Genetic Testing to Discover Your Ancestry</div>
                        <div class="price"><span>$</span>79.<span>00</span></div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%-include('./includes/footer')%>
</body>
</html>