<link rel="stylesheet" href="/fonts/material-icons.css">

<section class="sidebar">
    <div class="logo">
        <span class="s">S</span>TRID.
    </div>
    <div class="links">
        <div class="kits"><a href="/dashboard/"><div class="material-icons icon">list</div> <div class="label">KITS</div></a></div>
        <div class="records"><a href="/dashboard/records"><div class="material-icons icon">description</div> <div class="label">RECORDS</div></a></div>
        <div class="notifications"><a href="/dashboard/notifications"><div class="material-icons icon">notifications</div> <div class="label">NOTIFICATIONS</div></a></div>
    </div>

    <div class="profile">
        <div class="img">

        </div>
        <div class="details">
            <div class="name">UserName</div>
            <div class="email">username@gmail.com</div>
        </div>
    </div>
    <div class="details logout">
        <a href="logout.php"><div class="name">LOGOUT</div></a>
    </div>
</section>